body {
    margin:20px;
}

.diceimg{
    width:150px;
    height:170px;
}

.blue-border{
    border: 3px solid blue;
}
.card{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    margin:auto;
    padding:20px;
    justify-content: space-around;
    width:400px;
    text-align:center;
    background-color:rgb(134, 33, 129);
    color:rgb(88, 21, 88);
    border-bottom: 5px solid rgb(11, 48, 128);
    border-radius: 10px;
}

